<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
    <%- include ('navbar') %>

    <header>
        <h1><%= title %></h1>
        <p>Published on: <%= date %></p>
    </header>
    <article>
        <%= content %>
    </article>
    <footer>
        <p>Written by: <%= author %></p>
    </footer>
</body>
</html>
